
body{
    background-color: burlywood;
}

h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-style:italic; 
}

input[type=text], input[type=number], input[type=date], input[list=status], select {
    width: 500px;
    padding: 15px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: lightgray;
    font-size: 1.5em;
    
    
    
}
label {
    width: 240px;
    display: inline-block;

}
#status {
    width: 500px;
    padding: 15px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: lightgray;
    font-size: 1.5em;
}


#savedButton{
    width: 200px;
    padding: 15px;
    margin:20px 300px;
    text-align:center; 
    display:inline-block;
    border-radius:10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: lightblue;
    cursor:pointer; 
    font-size:20px;
}
