/* style for the main page*/
body {
    background-color:lightpink;

}
h1 {
    text-align: left;
    font-family: Geneva, Verdana, sans-serif;
    top: 50%;
    right: 50%;
    font-size: 150px;
}
p{
    text-align:center;

}
#signInButton, #lognInButton{
    width: 200px;
    margin: 2px 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
}

/*#homeButton {
    
    width: 100px;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 40px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    background-color:lightblue;
    color:white; 
}*/
.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#homeButton, #loadButton, #saveButton, #deleteButton, #reportButton{
    width: 100px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    top: 0;
    right: 0;
    cursor: pointer;
}
#homeButton, #loadButton, #saveButton, #deleteButton, #reportButton:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#logoImg{
    width: 70%;
    margin-top:450px;
    margin-right: 300px;;
}

